body {
    font-family: "Ubuntu", sans-serif;
  }
  #frsWeatherInfo li {
    margin: 0px;
    padding: 0px;
    list-style: none;
  }
  #scdWeatherInfo li {
    margin: 0px;
    padding: 0px;
    list-style: none;
  }
  ul {
    margin: 0;
    padding: 0;
  }
  .wrapping {
    border: 1px solid #dadde1;
    border-radius: 8px;
    padding: 20px;
    margin: 15px auto;
    max-width: 600px;
  }
  